{% extends "_layouts/cp" %}
{% set selectedSubnavItem = 'settings' %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercemultivendorsettings" %}

{% set title = "System Settings"|t('craft-commerce-multi-vendor') %}

{% set navItems = {} %}

{% if currentUser.admin %}
{% set navItems = {
    'general': { title: "General Settings"|t('craft-commerce-multi-vendor'), minEdition: 'lite' },
    'orderstatuses': { title: "Order Statuses"|t('craft-commerce-multi-vendor'), minEdition: 'lite' },
    'emails': { title: "Emails"|t('craft-commerce-multi-vendor'), minEdition: 'lite' },
} %}
{% endif %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{% set docTitle = navItems[selectedItem].title~' - '~title %}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems if craft.commerce.is(item.minEdition, '>=') %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('commerce-multi-vendor/settings/'~handle) }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

